<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .password-container {
            display: flex;
            align-items: center;
            width: 10%;
        }
        .password-container input {
            flex-grow: 1;
            
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input  type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>
