<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrati</title>
</head>
<body>
    
    
    <fieldset>

    <form action="/registrazione_istruttore" method="POST">
        <label for="username">username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>
        
        <h2>Optional</h2>
        
        <label for="titolo">titolo di studio:</label>
        <input type="text"  id="titolo" name="titolo" ><br><br>
        <label for="eta">eta:</label>
        <input type="date" id="eta" name="eta" ><br><br>

        <label for="termini"><a href="/termini-condizioni">Termini e Condizioni</a>:</label>
        <input type="checkbox" id="termini" name="termini" required><br><br>
        
        <button type="submit">Conferma registrazione</button>
    </form></fieldset>
    {% if messaggio %}
    <p>{{ messaggio }}</p>
    {% endif %}
    
</body>
</html>