<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registra</title>
</head>
<body>
    <h1>Sing in</h1>
    <form action="/registrazione_utenti" method="POST">
        <label for="utente">utente:</label>
        <input type="text" id="utente" name="utente" required><br><br>
        <input type="hidden" id="palestra" value="motion">

        <button type="submit" id="sorte" name="sorte" value="clienti">aggiungi come cliente</button>
        <button type="submit" id="sorte" name="sorte" value="istruttori">aggiungi come istruttore</button>
        <p>Ricorda che rimuovendo gli istruttori i clienti andranno riassegnati
        <button type="submit" id="sorte" name="sorte" value="rimuovi">rimuovi</button>
    </form>

    <form action="/assegnazione_istruttori" method="POST">
        <label for="palestra">Palestra:</label>
        <input type="text" id="palestra" name="palestra" required><br><br>

        <button type="submit" id="sorte" name="sorte" value="aggiungi">aggiungi</button>
        <button type="submit" id="sorte" name="sorte" value="rimuovi">rimuovi</button>
    </form>