<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!!!LOGIN ERROR!!!</title>
</head>
<body>
    <p>the credentials are incorrect or non-existent</p>
    <p>please try to log in again or register</p>
    <form action="/">
        <button type="submit">try logging in again</button>
    </form>
    <form action="/registrazione">
        <button type="submit">register</button>
    </form>
</body>
</html>