<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/process" method="POST">
        <input type="hidden" name="form_type" value="login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>
    
    <form action="/process" method="post">
        <input type="hidden" name="form_type" value="registration">
        <label for="username_reg">Username:</label>
        <input type="text" id="username_reg" name="username" required><br><br>
        <label for="password_reg">Password:</label>
        <input type="password" id="password_reg" name="password" required><br><br>
        <button type="submit">Registrati</button>
    </form>
</body>
</html>