
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
       
            <label for="username">username:</label>
            <input type="text" id="username" name="name" required><br><br>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <label for="email">email:</label>
            <input type="text" id="email" name="email" required><br><br>
            <button type="submit">Log in</button>
            
        </form>
        <form action="/pagina_di_registrazione" method="post">
            <button type="submit">Registrati</button>
        </form>
</body>
</html>