<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrati</title>
</head>
<body>
    <h1>Sing in</h1>
    <form action="/registrazione" method="POST">
        <label for="username">username:</label>
        <input type="text" id="username" name="name" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="email">email:</label>
        <input type="text" id="email" name="email" required><br><br>
        <label for="tipe">tipe:</label>
        
        <button type="submit">Conferma registrazione</button>
    </form>
    
</body>
</html>