<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img {
          width: 100%;
        }
        table, th, td {
          border: 1px solid rgb(0, 0, 0);
          border-collapse: collapse;
        }
        th, td {
          background-color: hwb(0 100% 0%);
        }
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina di Destinazione</title>
</head>
<body>
    <h1>Sei stato reindirizzato alla Pagina di iniziale!</h1>
    
    <form action="/" method="post">
        <table>
            <tr>
              <td style="width:20%" rowspan="4"><img src="1.jpg" alt="Top_xt" ></td>
            <th colspan="2" style="text-align:left"><h5>es:1 Top_xt</h5> </th>
            
            </tr>
            <tr>
              <td><input size="44" maxlength="44" type="text" id="11" name="11"></td>
              <td><input size="44" maxlength="44" type="text" id="12" name="12"></td>
              
            </tr>
            <tr>
              <td><input size="44" maxlength="44" type="text" id="21" name="21"></td>
              <td><input size="44" maxlength="44" type="text" id="22" name="22"></td>
              
            </tr>
            <tr>
                <td><input size="44" maxlength="44" type="text" id="31" name="31"></td>
                <td><input size="44" maxlength="44" type="text" id="32" name="32"></td>
                
              </tr>
            <tr>
              <td><input size="19" maxlength="19"type="text" id="attrezzo" name="attrezzo"></td>
              <td colspan="2"><input size="94" maxlength="94" type="text" id="nota" name="nota"></td>
            </tr>
        </table>
        
        <button type="submit">Vai alla Pagina di iniziale</button>
    </form>
    

</body>
</html>
