<!DOCTYPE html>
<html lang="en">
<head>
    
    <style>
        img {
          width: 100%;
        }
        table, th, td {
          border: 1px solid rgb(0, 0, 0);
          border-collapse: collapse;
        }
        th, td {
          background-color: hwb(0 100% 0%);
        }
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina di Destinazione</title>
</head>
<body>
    <h1>Sei stato reindirizzato alla Pagina di iniziale!</h1>

    <form action="/primaria" method="post">
              
            
              
            <h5><input size="100%" type="text" id="titolo" name="titolo"></h5>
            
            <div>
              <input size="50%" stype="text" id="11" name="11" value={{predefinito11}}>
              <input size="50%" type="text" id="12" name="12" value={{predefinito11}}>
            </div>  
            <div>
              <input size="50%" maxlength="44" type="text" id="21" name="21" value={{predefinito21}}>
              <input size="50%" maxlength="44" type="text" id="22" name="22" value={{predefinito32}}>
            </div>  
            <div>
                <input size="50%" maxlength="44" type="text" id="31" name="31" value={{predefinito31}}>
                <input size="50%" maxlength="44" type="text" id="32" name="32" value={{predefinito32}}>
            </div>
            
              <input  size="100%" type="text" id="attrezzo" name="attrezzo" value={{predefinitoattrezzo}}><br>
              <input  size="100%"  type="text" id="nota" name="nota" value={{predefinitoattrezzo}}><br>
            
        </table>
        
        <button type="submit">ok</button>

            </form>

            <form action="/predefiniti" method="post">
              {% if lista_esercizii %}
      {% for dati in lista_esercizii %}
        {% if dati is mapping %}
        <button type="submit">
          <h5>{{dati['titolo']}}</h5>
              
              <div>
                {{dati['p11']}}
                {{dati['p12']}}
              </div>  
              <div>
                {{dati['p21']}}
                {{dati['p22']}}
              </div>  
              <div>
                {{dati['p31']}}
                {{dati['p32']}}
              </div>
              
              {{dati['attrezzo']}}
              {{dati['nota']}}
          
      </table>
      </button>
      
          </form>
            
            {% endif %}
      {% endfor %}
    {% else %}
     
    {% endif %}

























            
              
        
